:root {
  color-scheme: light only;
  
  --bg: #1B1E22;
  --bgTransparent: rgba(27, 30, 34, 0.5)
  --lightbg: #292d33;
  --lighterbg: #3b3f45;

  --gray: #a2a7ae;
  --lightGray: #cbced2;

  --babyblue: #C3E0E5;
  --lightblue: #5885AF;
  --darkblue: #41729F;
  --blackblue: #274472;
  --blackblueOpacity: rgba(39, 68, 114, 0.5); 
  --blackbluedark: #1d3258;

  --orange: rgb(255,165,0);
  --dark-orange: rgb(255,131,0);
  --red: #a80000;
  --darkred: rgba(168, 0, 0, 0.6);
  --green: #00b050;

  --navHeight: 70px;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--bg);;
}

h1 {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--navHeight);
  margin: 0;
  padding: 5px;
  background: rgba(27, 30, 34, 0.6);
  backdrop-filter: blur(10px);
}

h1 > img {
  height: 100%;
}

/* ---- ---- ---- CHAT CONTAINER ---- ---- ---- */

#chat-container {
  flex: 1;
  margin: 0;
  margin-top: var(--navHeight);
  background-color: var(--bg);
  padding: 0 20px;
  overflow: auto;
  max-width: 100%;
  width: 100%;
  padding-bottom: 100px;
}

.message {
    display: flex;
    margin-bottom: 10px;
    font-size: 16px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.user-message {
    justify-content: flex-end;
}

.bot-message, .system-message {
    justify-content: flex-start;
}

.message-text {
    background-color: hsl(0, 0%, 95%);
    padding: 12px 20px;
    border-radius: 30px 30px 30px 0;
    word-wrap: break-word;
    max-width: 50%;
    line-height: 1.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1440px) {
  .message-text {
    max-width: 70%;
  }
}

@media only screen and (max-width: 767px) {
  .message-text {
    max-width: 100%;
  }
}

.user-message .message-text {
    background-color: var(--darkblue);
    border-radius: 30px 30px 0 30px;
    color: #ffffff;
}

.system-message .message-text {
    background-color: transparent;
    color: #666;
    font-style: italic;
    border: none;
}

#chat-container img {
  border-radius: 12px;
}

/* ---- ---- ---- CHAT FORM ---- ---- ---- */

#chat-form {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 16px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.opacity-mask {
  position: absolute;
  z-index: -2;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: var(--bg);
}

.input-container {
  position: relative;
  display: flex;
  width: 100%;
}

#message {
  flex: 1;
  padding: 12px 14px;
  padding-right: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 23%);
  color: #ffffff;
  resize: none;
  overflow-y: auto;
}

#image {
  /* Remove default styles for file input */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: none; /* Hide the actual file input */
}

button, #imageLabel {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: var(--darkblue);
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
  flex-shrink: 0;
}

button {
  @media only screen and (min-width: 768px) {
      &:hover {
          background-color: var(--lightblue);
      }
  }
  @media only screen and (max-width: 767px) {
    button:active {
        background-color: #1e345b;
    }
  }
}

#imageLabel {
  color: var(--gray);
  position: absolute;
  right: 2px;
  bottom: 2px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40px;
  height: 40px;

  transition: scale 1s;
}

#imageLabel:hover {
  color: var(--lightGray);
  scale: 1.1;
}

#imageLabel::before {
  content: "\f1c5";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#imageLabel.file-selected {
  color: #05bc58;
  background: radial-gradient(circle, rgba(5,188,88,0.3442170813637955) 0%, rgba(58,58,58,0) 70%);
}


.message-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 12px 18px;
}

.message-submit i {
  transition: rotate 1s;
}

.message-submit:hover i {
  rotate: 20deg;
}

@media only screen and (max-width: 767px) {
  .message-submit span {
    display: none;
  }
  .message-submit i {
    transform: translateX(-2px);
  }
}

.clear-history-container {
  position: absolute;
  top: 0;
  transform: translateY(-200%);
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.clear-history-button {
    background-color: hsl(0, 0%, 17%);
    display: flex;
    align-items: center;
    gap: 5px;
    color: hsl(0, 0%, 70%);
    font-size: 14px;
}

.clear-history-button span {
    font-size: 20px;
}

.clear-history-button:hover {
    background-color: hsl(0, 0%, 20%);
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dots-animation span {
  display: inline-block;
  animation: typing 2s infinite;
  font-size: 18px;
  animation-timing-function: steps(4);
}

.dots-animation span:nth-child(1) {
  animation-delay: 0s;
}

.dots-animation span:nth-child(2) {
  animation-delay: 0.4s;
}

.dots-animation span:nth-child(3) {
  animation-delay: 0.8s;
}

.generating-message .message-text {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 60%);
}

.code {
  border-radius: 20px;
  border: 2px solid grey;
}

/*-------- SCROLLBAR --------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightbg); 
  border: none;
  z-index: -1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--darkblue); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lightblue); 
  cursor: move;
}

#chat-container ::-webkit-scrollbar, #chat-container ::-webkit-scrollbar-track {
  border-radius: 20px;
}