<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TotoB12 AI Gen-4</title>
    <link rel="icon" href="https://raw.githubusercontent.com/TotoB12/totob12.github.io/main/things/favicon.ico">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/TotoB12/totob12.github.io/main/things/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <link rel="stylesheet" href="https://highlightjs.org/static/demo/styles/atom-one-dark.css">
    <link rel="stylesheet" href="static/style.css">
</head>
  
<body>
    <h1>
      <img onclick='window.open("https://totob12.github.io/", "_blank")' src='static/gen-4-totob12-title.svg' alt='totob12 logo'>
    </h1>
  
    <div id="chat-container"></div>
  
    <form id="chat-form" enctype="multipart/form-data">
        <div class='clear-history-container'>
          <button type="button" id="clear-history" class="clear-history-button">
            <span class="material-symbols-outlined">autorenew</span>Clear history
          </button>
        </div>
        <textarea id="message" name="message" required placeholder="Type your message..." rows="1"></textarea>
        <input type="file" id="image" name="image" accept="image/*">
        <button type="submit" style="margin-right: 7px;">Send</button>
    </form>
  
  <!-- <hide style="visibility: hidden;">
  <a href='https://acadooghostwriter.com/'>ACADOOghostwriter.com</a>
  <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=c4a6974f72e01af600dfc841f0cd27be90c66353'></script>
  <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/1016274/t/4"></script>
</hide> -->
  
    <script src='static/script.js'></script>
</body>
</html>
